<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/context 
      					http://www.springframework.org/schema/context/spring-context-3.2.xsd">


	<context:property-placeholder />

								       
	<bean id="sessionBuilder"
      	  class="net.oneandone.troilus.example.service.SessionBuilder">
   
   		<constructor-arg value="testks1"/>
   		<constructor-arg value="localhost"/>
   		<constructor-arg type="int" value="${cassandra_port}"/>
    </bean>								       
								       

	
	<bean id="cassandraSession" class="com.datastax.driver.core.Session"
								factory-bean="sessionBuilder"
								factory-method="build"
								destroy-method="close">
	</bean>

	<bean id="hotelsDao" class="net.oneandone.troilus.DaoImpl">
		<constructor-arg index="0" ref="cassandraSession" />
		<constructor-arg index="1" value="hotels" />
	</bean>



	<bean id="hotelService" class="net.oneandone.troilus.example.service.HotelService">
		<constructor-arg ref="hotelsDao" />
	</bean>
	
	<bean id="classicHotelService" class="net.oneandone.troilus.example.service.ClassicHotelService">
		<constructor-arg ref="cassandraSession" />
	</bean>
	
	<bean id="pictureService" class="net.oneandone.troilus.example.service.PictureService"/>
	
</beans>