<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="cassandraSessionFactoryBean" class="org.unitedinternet.troilus.example.service.SessionBuilder"></bean>

    <bean id="cassandraSession" class="com.datastax.driver.core.Session"
						        factory-bean="cassandraSessionFactoryBean"
								factory-method="build" 
								destroy-method="close">
	</bean>

	<bean id="hotelsDao" class="com.unitedinternet.troilus.DaoImpl">
		<constructor-arg index="0" ref="cassandraSession" />
		<constructor-arg index="1" value="hotels" />
	</bean>



	<bean id="hotelService" class="org.unitedinternet.troilus.example.service.HotelService">
		<constructor-arg ref="hotelsDao" />
	</bean>

</beans>