/.project
/troilus-service-example/target
/troilus-service-example/tomcat.9080
/troilus-service-example/.classpath
/troilus-service-example/.project
/troilus-service-example/.settings
/troilus-core-minimal/.classpath
/troilus-core-minimal/.project
/troilus-core-minimal/target
/troilus-core-minimal/.settings
/troilus-core-java7/.settings
/troilus-core-java7/target
/troilus-core-java7/.classpath
/troilus-core-java7/.project
/target
/troilus-core/test-output
